* {
    padding: 0;
    margin: 0;}
    a {
    	text-decoration: none;
    }
    ul {
    	list-style-type: none;}
    .clear:after {
        content: '';
        display: block;
        height: 0;
        clear: both;}
    .header-top{
	    height: 110px;}
    .container {
        width: 1250px;
        margin: 0 auto;}
    .logo{
	    float: left;
	    padding-top: 15px;}
    .nav1{
	    margin-top: 42px;
	    float: left;
	    position: absolute;}
    .nav1 li{
	    float: left;
	    font-size:20px;
	    font-weight:400;
	    position: relative;
	    left: 200px;
	    text-align: center;
	    width: 80px;
	    margin: 0 20px;    }
    .nav1 a{
	    color:rgba(5,5,5,1);
    }
    .nav1 li:hover{
	    border-bottom: solid 2px rgba(0,164,255,1);;
    }
    .form{
	    float: right;
	    margin-top: 31px;
	    position: relative;
	    right: 60px;
    }
    .search{
    	float: left;
	    border: 1px solid rgba(0,50,255,1);
	    width:359px;
	    height:13px;
	    padding: 13px 19px;
	    padding-bottom: 12px;
    }
    .submit{
    	float: left;
	    width:40px;
	    height:40px;
	    background:rgba(0,50,255,1);
	    background-image: url('../Images/visa1.jpg') ;
	    vertical-align: bottom;
	    border: solid 2px rgba(0,50,255,1);}
    .header-top p{
    	float: right;
	    font-size: 12px;
	    margin-top: 44px;}  
    .header-top p a{
     	color: #666;}
    .banner{
    	margin-top: 2px;
	    height:500px;
        background:rgba(28,3,20,1);
    }
    .banner1{
    	margin-top: 20px;
	    height:800px;
        background:#9370DB;
    }
    .banner2{
    	margin-top: 2px;
	    height:650px;
        background:#00BFFF;
    }
    .inba{
	    width: 1500px;
	    margin: 0 auto;
    }
    .banner img{
	    display: inline-block;
	    width: 1150px;
	    margin: 0 auto;
    }
    .nav2{
	    width:200px;
	    height:500px;
	    background:rgba(0,0,0,0.5);
	    float: left;
	    position: relative;
	    left: 150px;
    }
    .nav2 li{
	    font-size: 25px;
	    margin: 30px 40px;
	    position: relative;
	    top: 20px;
    }
    .nav2 li a{
	    color: white;
    }
    .nav2 li a:hover{
	    color: rgba(0,164,255,1);
    }
    span{
	    float: right;
    }
    .part2{
	    background:#FFFFE0;
    }
    .nav3{
	    width:1200px;
	    margin: 8px auto;
	    height:60px;
	    background:rgba(255,255,255,1);
	    box-shadow:0px 2px 3px 0px rgba(118,118,118,0.2);
    }
    .nav3 li{
	    float: left;
	    font-size: 16px;
	    text-align: center;
	    width: 125px;
	    border-left: solid 1px rgba(191,191,191,1);
	    position: relative;
	    top: 21px;
    }
    .nav3 li a{
	    color: #050505;
    }
    .nav3 li a:hover{
	    color: rgba(0,164,255,1);
    }
    .nav3 .first{
    	border: none;
    }
    .nav3 .last{
    	border-left: none;
    	float: right;
    }
    .nav3 .last a{
	    color: rgba(0,164,255,1);}

    .segment1{
	    width: 1225px;
	    margin: 20px auto;}
    h1{
	    float: left;
	    font-size:40px;
	    font-weight:400;
	    color:rgba(73,73,73,1);
	    clear: right
    }
    h2{
        float: right;
	    font-size:20px;
	    font-family:Microsoft YaHei;
	    font-weight:400;
	    padding-right: 20px;
    }
    h2 a{
	    color:rgba(165,165,165,1);
    }
    .segmentb{
	    width: 1200px;
	    height: 50px;
	    margin: 10px auto;
    }
    .product{
	    width: 228px;
	    height: 270px;
	    float: left;
	    margin: 7.5px;
	    box-shadow:0px 2px 5px 0px rgba(118,118,118,0.5);
    }
    .product img{
	    width: 228px;
	    height: 155px;
    }
    .product1{
	    width: 595px;
	    height: 500px;
	    float: left;
	    margin: 7.5px;
	    box-shadow:0px 2px 5px 0px rgba(118,118,118,0.5);
    }
    .product1 img{
	    width: 595px;
	    height: 350px;
    }
    .word{
    	width: 228px;
    	height: 115px;
    }
    .word p{
	    width: 185px;
	    height: 34px;
	    font-size: 14px;
	    margin: 20px 23px;
    }
    .word p a{
	    color: black;
    }
    .word h3{
	    display: inline;
	    font-size: 14px;
	    color: #ff8d49;
	    position: relative;
	    left: 22px;
    }
    .word h4{
	    display: inline;
	    font-size: 14px;
	    color: #999999;
	    position: relative;
	    left: 32px;
        }
    .word1{
    	width: 228px;
    	height: 115px;
    }
    .word1 p{
	    width: 565px;
	    height: 34px;
	    font-size: 14px;
	    margin: 20px 23px;
    }
    .word1 p a{
	    color: black;
    }
    .word2{
    	width: 565px;
    	height: 115px;
    }
    .word2 p{
	    width: 565px;
	    height: 34px;
	    font-size: 16px;
	    margin: 20px 23px;
    }
    .word2 p a{
	    color: black;
    }
    .segment2{
	    width: 1225px;
	    margin: 0 auto;
    }
    .segment2 ul{
	    width: 325px;
	    margin: 0 auto;
	    position: relative;
	    top: -30px;
    }
    .segment2 ul li{
    	float: left;
    	font-size: 16px;
	    width: 81px;
    }
    .segment2 ul li a{
	    color: #868686;
    }
    .segment2 ul li a:hover{
	    color: #00A4FF;
    }
    .segment3{
	    width: 1225px;
	    margin: 0 auto;
    }
    h3{
	    font-size: 18px;
	    color: #fff;
	    display: inline-block;
	    position: relative;
	    left: 25px;
	    top: -2px;
    }
    h6{
	    font-size: 35px;
	    color: blue;
	    display: inline-block;
	    position: relative;
	    left: 100px;
	    top: -50px;
    }
    .bottom{
    	width: 1250px;
        margin: 50px auto;
        background:rgba(255,255,255,1);}
    .bottom p{
    	font-size: 20px;
    	color: #666;
    	margin: 40px 0;}
    h5{
    	width: 120px;
	    height: 36px;
	    border: solid 2px rgba(0,164,255,1);
	    font-size: 16px;
	    color: rgba(0,164,255,1);
	    text-align: center;
	    line-height: 36px;
    }
    .bottom ul{
	    float: left;
	    margin: 0 65px;
	    position: relative;
    	left: 480px;
    	top: -300px;
    }
    .bottom li{
    	font-size: 17px;
    }
    .bottom li a{
    	color: #333333;
    }
    .bottom .first{
	    font-size: 25px;
    }
    .black{
		background-color: #000;
		height: 120px;
		line-height: 120px;
		display: block;
		margin-top: 0px;
	}
	.xiao{
		color: #fff;
		text-align: center;
	}
	.sss {height: 650px;
		font-size: 23px;
		border: 5px dotted orange;
    	text-align: center;
    	background-color: white;}